@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OttoDigital </h1>
    <p>
        <img src="https://images.glints.com/unsafe/glints-dashboard.s3.amazonaws.com/company-logo/0ae43ce3982eb0b006ae60cf2a242634.png">
    </p>
</div>
